.email {
    background-image: url(./images/background.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.email h1 {
    color: #011D32;
    font-size: 6vw;
    text-align: center;
}

.email h4 {
    color: #011D32;
    font-size: 2vw;
    text-align: center;
}

#sayhello {
    margin-left: 35vw;
    display: flex;
    flex-direction: column;
    color: white;
    height: 65vh;
    width: 30vw;
    border: 1px solid white;
    background-image: linear-gradient(111.4deg, rgb(52, 52, 59) 10%, #01233e 80.2%);
    ;
    border-radius: 20px;
}

.yourname {
    margin-top: 7vh;
    margin-left: 3vw;
    font-size: 1.5vw;
}

.youremail {
    margin-left: 3vw;
    font-size: 1.5vw;
}

.yourmessage {
    margin-left: 3vw;
    font-size: 1.5vw;
}

input {
    margin: 1.5vh 3vw;
    margin-top: 0px;
    height: 2vw;
    border-radius: 1vw;
    border: none;
}

input::placeholder {
    text-align: left;
    color: gray;

}

textarea {
    margin: 1.5vh 3vw;
    height: 7vw;
    border-radius: 1vw;
    border: none;
}

textarea::placeholder {
    text-align: center;
    color: gray;
}

.submitbtn {
    margin: 1vh;
    margin-left: 10vw;
    background-color: #011D32;
    border-radius: 1vw;
    transition: 0.8s;
    height: 7vh;
    width: 9vw;
    color: white;
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    border: none;
}

.submitbtn:hover {
    background: white;
    color: #011D32;
}