.project {
    height: 100vh;
    background: #011D32;
}

.project h1 {
    color: white;
    font-size: 7vw;
    text-align: center;
}

.laptop {

    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;


}

.left {
    margin-top: 10vh;
    height: 20vw;
    width: 30vw;
    position: relative;
}

.right {

    margin-top: 10vh;
    height: 20vw;
    width: 30vw;
    position: relative;
}

.laptop1 {
    position: relative;
    margin-left: 8vw;

    height: 20vw;
    width: 30vw;

}

.laptop2 {

    position: relative;
    margin-left: 8vw;

    height: 20vw;
    width: 30vw;

}



.flip-card-front img {

    width: 22.5vw;
    height: 15.1vw;
}

.flip-card {


    position: absolute;
    top: 0;
    margin-top: 3.9vh;
    margin-left: 11.6vw;
    background-color: white;
    width: 22.5vw;
    height: 15.1vw;
    border: 1px solid black;
    perspective: 1000px;
}



.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-front,
.flip-card-back {

    position: absolute;
    width: 100%;
    height: 100%;

    backface-visibility: hidden;
}


.flip-card-front {
    background-color: #bbb;
    color: black;
}


.flip-card-back {
    background-image: url("./images/cardbg.jpg");
    filter: blur(100%);
    -webkit-filter: blur(8px);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transform: rotateY(180deg);
    z-index: 1;

}



.flip-text {
    color: black;
    z-index: 10;
    position: absolute;
    margin-top: 5vw;
    margin-left: 6vw;
    transform: rotateY(180deg);
    font-weight: bold;
    border: 3px solid black;
    backface-visibility: hidden;
}
